<div id="sala_chat_container">
    <div id="mensajes_container" #mensajes_container>
        @for (mensaje of mensajes; track $index) {
        <div name="mensaje_card" [class.mensaje_propio]="mensaje.nombre === servAuth.usuarioActual.value!.email">
            <div name="mensaje_autor">
                {{mensaje.nombre | autorPropio: servAuth.usuarioActual.value!}}
            </div>

            <div name="mensaje_texto">
                {{mensaje.mensaje}}
            </div>

            <div name="mensaje_fecha">
                {{mensaje.fecha | date:'dd/MM/yyyy HH:mm'}}
            </div>
        </div>
        }
    </div>

    <div id="enviar_mensaje_container">
        <p-inputGroup>
            <input id="enviar_mensaje" type="text" pInputText [(ngModel)]="mensaje.mensaje" />
            <button pButton icon="fa-regular fa-paper-plane" (click)="enviarMensaje()"></button>
        </p-inputGroup>
    </div>
</div>