div#cromainstinct_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

div#cromainstinct_title {
    font-size: 2rem;
    font-weight: bold;
}

div#cromainstinct_texto {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

div#cromainstinct_opciones_container {
    display: flex;
    gap: 0.5rem;
}

div#cromainstinct_cronometro {
    font-size: 1.2rem;
    text-align: center;
}

div#cromainstinct_puntaje {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}